<ol>
    <li>Introduction to the NHS login Service</li>
    <li>Creating an account in NHS login</li>
    <ol>Create NHS login Account and configure Two Factor Authentication (2FA)	3
        <li>User is directed to NHS login by RPS</li>
        <li>Creating the user’s account through “Vouching”</li>
</ol>
2.2.	Setting the user’s level of verification	4
2.2.1.	Prove Your Identity (PYI) via NHS login processes	5
2.2.2.	Use Patient OnLine (POL) credentials to prove your identity	5
2.3.	Linking the user’s NHS Number to their NHS login account	6
3.	The user now has an account – how do they use it to access my service?	6
4.	Support for Single Sign On (SSO)	6
5.	Support for Delegated Access	7
6.	Management of NHS login Accounts	9
6.1.	Logging out	9
6.2.	NHS login co-existence with an RPS specific login	9
6.3.	Account closure	9
Appendix A – Authorisation process for Reliant Party Service Suppliers	10
Appendix B – NHS login Roadmap. Point to Features Roadmap on NHS Onboarding site.	11
Appendix C – Prototyping tools	12
</ol>