{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
{{ super() }}
<section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description" style="background-image: url('/images/Fibre-494278832-MED.jpg');">
  <div class="nhsuk-hero__overlay">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-hero-content" style="max-width: 700px">
            <h1 class="nhsuk-u-margin-bottom-3">NHS login is a quick, free, and secure way of identifying and verifying who a user is.</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"></p>
            <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block beforeContent %}
<div class="nhsuk-homepage">
<main id="maincontent">
<section class="nhsuk-section">
  <div class="nhsuk-o-width-container">
    <div class="nhsuk-o-grid">        
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
      <p>There are various steps to onboarding the service which include you providing usage forecasts, passing assurance standards, and determining the appropriate level of verification for your service.</p>
      
      {{ actionLink({
        "text": "View a step-by-step guide to onboarding to NHS login",
        "href": "get-started/get-started"
      }) }}

      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
      <p>We have a developers’ GitHub where you can find step-by-step information on setting up the connection to NHS login.</p>

      <p>rom the GitHub, developers can request access to the Sandpit which is a copy of our production code environment which will help you learn how to integrate with our service.</p>

      <p>We also have a Slack channel where our NHS login developers are on hand to answer technical questions and support partner organisations.</p>
<mark>promo</mark>
      <p><a target="blank" href="">Visit the NHS login GitHub repository</a></p>
      <p><a target="blank" href="">View the External Interface Specification (EIS)</a></p>
      <p><a target="blank" href="">Join the NHS login Slack</a></p>
      </div>  
    </div>
  </div>
</section>
</main>
</div>
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>It allows users to access digital health and social care services as seamlessly as possible, whilst providing a safe way to make sure you’re giving only the right people access to your service.</p>
      <mark>New summary video ▶️ (to be created)</mark><br /></br />

      {{ actionLink({
        "text": "Find out more about NHS login",
        "href": "overview"
      }) }}

      <hr>

      <h2>Why use NHS login?</h2>
      <p>If you’re building a health or social care app or website for patients, NHS login is a free, flexible solution which can take away the headache of creating an account for a user, verifying the users’ identity and linking it to an NHS number.</p>
      <mark>Paragraph about developer support and community (eventually link testimonials)</mark><br /><br />


      {{ panel({
        "label": "Benefits for your <strong>users</strong>",
        "HTML": "<ul><li>One-time simple Sign-up process</li><li>Single login to access multiple Health and Social care services</li><li>Peace of mind that their data is secure</li></ul>"
      }) }}

      {{ panel({
        "label": "Benefits for your <strong>organisation</strong>",
        "HTML": "<ul><li>Being sure your users are who they say they are</li><li>Not having to build and manage an identity platform</li><li>A tailored level of user verification appropriate to your service</li></ul>"
      }) }}

      {{ actionLink({
        "text": "Find out if NHS login is right for your service",
        "href": "overview"
      }) }}

      <hr>

      <h2>How it works</h2>
      <p>NHS login is an internet facing system for identifying and verifying a user’s identity, which uses the <a target="blank" href="https://openid.net/developers/specs/">Open ID Connect</a> and the <a target="blank" href="https://oauth.net/2/">Oauth2.0 protocols</a>.</p>

      <p>It also uses <a target="blank" href="https://fidoalliance.org/specifications/">FIDO (Fast Identity Online) specifications</a> which improve the user experience by allowing Fingerprint ID and Face ID to seamlessly access native apps.</p>

      {{ actionLink({
        "text": "Find out more about how NHS login works",
        "href": "how-it-works"
      }) }}

      {{ actionLink({
        "text": "View the prototypes",
        "href": "http://nhslogin-demo.herokuapp.com/",
        "openInNewWindow": "true"
      }) }}

      <hr>

      <h2>Safety and security</h2>
      <p>Proving users’ identities using the NHS login meets the published standard for identity checking in health and care services. <a target="blank" href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Read about the standards on proving identity that NHS login follows.</a></p>
      <p>NHS login stores and processes users’ personal information securely and in line with strict standards. <a target="blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/711097/guide-to-the-general-data-protection-regulation-gdpr-1-0.pdf">Read more about data storage.</a></p>

      <hr>

      <h2>Get started</h2>
      <p>NHS login is currently in a private beta.</p>
      <p>Due to the number of partners waiting to use NHS login we are having to prioritise requests to join the public beta. Prioritisation will be based on a variety of factors such as strategic fit and benefits to health and social care.</p>
     <!-- <mark>left</mark>
      <p>There are various steps to onboarding the service which include you providing usage forecasts, passing assurance standards, and determining the appropriate level of verification for your service.</p>
      
      {{ actionLink({
        "text": "View a step-by-step guide to onboarding to NHS login",
        "href": "get-started/get-started"
      }) }}
      
      <br /><br />
      <mark>right</mark>-->
      <!--
      <p>We have a developers’ GitHub where you can find step-by-step information on setting up the connection to NHS login.</p>

      <p>rom the GitHub, developers can request access to the Sandpit which is a copy of our production code environment which will help you learn how to integrate with our service.</p>

      <p>We also have a Slack channel where our NHS login developers are on hand to answer technical questions and support partner organisations.</p>
<mark>promo</mark>
      <p><a href="">Visit the NHS login GitHub repository</a></p>
      <p><a href="">View the External Interface Specification (EIS)</a></p>
      <p><a href="">Join the NHS login Slack</a></p>

-->



      <hr>

      <h2>Get in touch</h2>
      <p>If you can't find an answer then feel free to <a href="">drop a message to our mailbox</a> or <a target="blank" href="">join the NHS login Slack channel</a></p>

      <p>The project team also produces a weekly newsletter so please <a href="">join our mailing list</a> for the latest NHS login updates.</p>
<!--
      <br><iframe width="560" height="315" src="https://www.youtube.com/embed/wI-jF9zJw0c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <hr>

      <h2>NHS login safety and security</h2>
      <p>Proving users’ identities using the NHS login meets the published standard  for identity checking in health and care services.
      <a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Read about the standards on proving identity that NHS login follows.</a></p>
      <p>NHS login stores and processes users’ personal information securely and in line with strict standards. <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/711097/guide-to-the-general-data-protection-regulation-gdpr-1-0.pdf">Read more about data storage.</a></p>

      <hr>
      -->
<!--
      <h2>NHS login support</h2>
      <mark>RICHARD TO CHECK THIS CONTENT</mark>
      <p>NHS login is supported by the people who built it.
      The NHS login team gives your service:</p>
      <ul>
        <li>24/7 access to support</li>
        <li>detailed technical guidance to help you connect</li>
        <li>99.9% service uptime (is this right)</li>
      </ul>
    </div>
  </div>
-->

<!--
<h2>Tried and trusted</h2>
<p>You do not need to build your own digital identity check from scratch or go through a long procurement process. 
NHS login has been designed and tested by NHS Digital and it’s already being used by the NHS App. Many other health websites and apps are going through the process of being connected to NHS login or have requested connection.</p>
<mark>More than xxxx users are using NHS login to access the NHS App and services run by organisations including etc etc</mark>
<mark>Pull out quote from case study/s (NHS App) on the benefits of using NHS login/ease connecting to it.</mark>
<a href="">Email us if you’d like to know more about using NHS login.</a>
-->

<!--
<h2>Case Studies</h2>
<p>NHS App</p>
-->

<!--
<h2>Events</h2>
<p>do to</p>
-->

{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
