{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    }],
    href: "",
    text: "What is NHS login"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>What is NHS login?</h1>
      <h4>NHS login is a quick and secure way for users to access digital health and social care services as seamlessly as possible, whilst providing a safe way to make sure you’re giving only the right people access to your service.</h4>
      <p>NHS login is a <strong>free service</strong>. It makes sure you’re giving the right people access without the effort and cost of developing and managing your own identity platform. </p>
      <p>NHS login offers <a href="how-it-works/authentication-verification">different levels of verification</a> so you can choose the most appropriate for your service. User records can be created with no verification for generic NHS services and information, whereas full verification allows access to sensitive information such as medical records.</p>
      <p>NHS login can co-exist with your own login system. It also has the facility to generate GP system linkage keys, subject to commercial agreement.</p>
      <p>The service was released into Private Beta in September 2018 supporting NHS App, the login service’s first partner.</p>

      <p>Find out <a href="how-it-works">How it works</a> or <a target="blank" href="http://nhslogin-demo.herokuapp.com/">View the prototypes</a></p>
<!--
      <hr />

      <h2 id="isitright">Is it right for your service?</h2>
      <p>NHS login is designed and funded for Health and Social Care services. It provides user verification facilities and the creation of a user account that can be used to login to other Health and Social Care Services.</p>

      <p>If your service aligns to NHS strategy and delivers benefits to the NHS and social care ecosystem you can use NHS login to check a user’s identity.</p>

      <p>Your service might need to do this if it:</p>
      <ul>
        <li>shows a user personal information about themselves, such as their medical records</li>
        <li>replaces a form that needs to be physically signed by a user</li>
      </ul>

      <p>The team behind NHS login work in a user-centred, agile way. As such, the service will be continually improved via iterative releases that have been validated via user research and testing.</p>
      <p>View more information on <a href="get-started/get-started">how to onboard</a>, or <a href="get-started/technical">investigate technical integration</a><mark>update link</mark></p>

      <hr>

      <h2>Just so you know…</h2>
      {{ warningCallout({
        "heading": "Limitations to the service",
        "HTML": "<p>There are limitations to the service as we continue to develop it. We are defining our roadmap based on research and data insights, but for now:</p>
        <ul>
        <li>NHS login is currently only available for services in England</li>
        <li>Users need a form of Government ID</li> 
        <li>Users need a smartphone</li>
        <li>Delegated access (ie parent / child or vulnerable individual) isn’t currently supported but it is on our roadmap</li>
        <li>Your service and organisation will need to meet our assurance requirements and sign our contract</li>
        <li>If you’re supplying a service to an organisation, they will need to sign End User Organisation Declaration</li>
        <li>Clinical authorisation remains the responsibility of the partner service</li>
      </ul>"
      }) }}
      

      {{ actionLink({
        "text": "View the currently available features and roadmap",
        "href": "features"
      }) }}
-->
    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
