{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    }],
    href: "",
    text: "Get started"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h4>NHS login is currently in a private beta, during which we will be testing the onboarding process with a small number of partners to understand the timescales involved and to refine and improve the process.</h4>
    <p>NHS login is due for public beta in March 2019.</p>

    <h2>Onboarding to NHS login</h2>
    {{ warningCallout({
        "heading": "Partner prioritisation",
        "HTML": "<p>Due to the number of partners waiting to use NHS login we are having to prioritise requests to join the public beta. Prioritisation will be based on a variety of factors such as strategic fit and benefits to health and social care.</p>"
      }) }}
    <p>There are various steps to onboarding the service which include you providing usage forecasts, passing assurance standards, and determining the appropriate level of verification for your service.</p>

    {{ actionLink({
        "text": "View a step-by-step guide to onboarding to NHS login",
        "href": "onboarding-summary"
      }) }}

    <hr>

    <h2>Exploring technical integration</h2>
    <p>Technical teams can find step-by-step information on setting up the connection to NHS login on our GitHub repository.</p>

    <p>From the GitHub they can request access to the Sandpit which is a copy of our production code environment which will help you learn how to integrate with our service <mark> and mention stub?</mark></p>

    <p>We also have a Slack channel where our NHS login developers are on hand to answer technical questions and support partner organisations.</p>

<mark>target not working on this component</mark>
<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    {{ promo({
      "href": "",
      "imgURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png",
      "heading": "Github",
      "description": "NHS login github"
    }) }}
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    {{ promo({
      "href": "https://www.nhs.uk",
      "imgURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png",
      "heading": "External Interface Specification",
      "description": "NHS login technical specification"
    }) }}
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    {{ promo({
      "href": "https://www.nhs.uk",
      "imgURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png",
      "heading": "Slack Support Channel ",
      "description": "Get help from NHS login devs"
    }) }}
  </div>
</div>

    {{ insetText({
      "HTML": "<p>Note: development in the Sandpit environment is a mandatory step to progressing through the onboarding process.</p>"
    }) }}

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
