{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    },
    {
      href: "../get-started/get-started",
      text: "Get Started"
    }],
    href: "",
    text: "Onboarding Summary"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <h2>Before you request onboarding</h2>

    <h3>1. Check if you need NHS login</h3>
    <p>Before you start connecting your service to NHS login, find out how NHS login works and if it’s right for your service.</p>

    <h3>2.Choose the right level of assurance</h3>
    <p>To use NHS login you’ll need to decide the level of ID verification and authentication that is needed for your service.</p>

    <p>Review the guidance within the standards to understand the policy for your types of transactions.</p> 

    <p>As part of the assurance process we’ll ask that you’ve gone through this process.</p>

    <h3>3.Understand the clinical safety basics</h3>

    <p>All suppliers must have a Clinical Safety Officer trained to [x,y,z]. A clinical safety officer is required to []. If you need training you can [x,y,z]</p>

    <mark>Link to training</mark>

    <a href="">DCB 0129 - Manufacture:</a>
    <p>Prepared by the NHS Digital Clinical Safety team, this standard is designed to help manufacturers of health IT software evidence the clinical safety of their products:</p>

    <a href="">DCB 0160 – Deployment and use:</a>
    <p>Prepared by the NHS Digital Clinical Safety team, this standard is designed to help health and care organisations assure the clinical safety of their health IT software</p>

    <a href="">Clinical Safety Officer training provided by NHS Digital:</a>
    <p>Clinical risk management training is designed to provide NHS organisations and manufacturers of health IT products with training in the principles of safety, risk management and risk mitigation.</p>

    <p>A published example of the application of clinical safety techniques and standards to an implementation. https://journals.sagepub.com/doi/pdf/10.1177/2055207617704271</p>

    <p>Coercion</p>

    <h3>4.  Data Security, Information Governance, and GDPR</h3>

    <p>Organisations developing services for health and social care need to ensure you’ve <mark>Ask Brendan the correct words</mark> <mark>Add correct links to the NHS Digital Website</mark> https://digital.nhs.uk/data-and-information/looking-after-information has some useful content to get you started.</p>

    <p>To on-board with us you’ll need to have completed your Data Security and Protection Toolkit (DSPT). This is an online self assessment tool that allows organisations to measure their performance against the National Data Guardian’s 10 data security standards. All organisations that have access to NHS patient data and systems must use this toolkit to provide assurance that they are practising good data security and that personal information is handled correctly.</p>

    <p>To complete you’re DSPT you’ll also need an ODS code.</p>

    <mark>Add something about DPIA</mark>

    <mark>Add something about penetration testing</mark>
    
    <h3>5. Develop in the Sandpit</h3>
    <p>The Sandpit is a copy of our production code environment which will help you learn how to integrate with our service. Developing in the Sandpit is a mandatory step before a service can be onboarded.</p>

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
