{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    },
    {
      href: "../get-started/get-started",
      text: "Get Started"
    }],
    href: "",
    text: "Request Onboarding"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <h2>Request onboarding</h2>
    <h3>1. Request to be prioritised for onboarding</h3>
    <p>To begin the process you must first send an onboarding request email to engage.nhslogin@nhs.net</p>

    <h3>2. Complete and return the ‘scoring spreadsheet’</h3>
    <p>The scoring spreadsheet allows us to prioritise your service against others wanting to join the beta. Prioritisation will be based on a variety of factors such as strategic fit and benefits to health and social care.</p>

    <h3>3. Provide usage forecasts</h3>
    <p>Once your service has been prioritised, we will ask you to provide usage forecasts so we ensure we can meet those demands during beta.</p>

    <h3>4. Complete Assurance Questions and Conformance Testing</h3>
    <mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id lacus sit amet odio maximus elementum malesuada sed sem. Vestibulum vel tristique nisi.</mark>
    <p>Also tie-in testing within the Assurance environment</p>

    <h3>5. Set up Support with NHS login</h3>
    <p>NHS login is supported by the National Service Desk. You’ll need to be registered with the service desk in order to raise support tickets to us. <mark>Find out more here.</mark></p>

    <h3>6. Sign the connection agreement</h3>
    <p>Subject to passing the assurance standard, and successfully developing within the assurance environment, we will ask you to sign a connection agreement with NHS Digital.</p>

    <p>You’ll also need to sign an End User Organisation Declaration.</p>
    <p>Once these steps are complete you can go live.</p>

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
